<% form_for(@task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.select :status, Task::STATUS %>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.collection_select :owner_id, @users, :id, :name %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.select :priority, Task::PRIORITY %>
  </p>
  <p>
    <%= f.label :progress %><br />
    <%= f.select :progress, 1..100 %>
  </p>
  <p>
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at %>
  </p>
  <p>
    <%= f.label :ended_at %><br />
    <%= f.datetime_select :ended_at %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= f.collection_select :project_id, @projects, :id, :name %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>