<p>
  <b>Title:</b>
  <%=h @document.title %>
</p>
<p>
  <b>Description:</b>
  <%=h @document.description %>
</p>

<p>
  <b>Project:</b>
  <%=h @document.project.name %>
</p>
<p>
  <%= image_tag @document.document.url(:medium) %>
</p>

<%= link_to 'Edit', edit_project_document_path(@project,@document) %> |
<%= link_to 'Back', project_documents_path(@project) %>